/* Declaring Variables */
:root {
  --primary-color: #605f5e;
  --secondary-color: #1d3461;
  --text-color: #247ba0;
  --bg-color: #f8f9fa;
  --font-family: "Montserrat", Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* Home Logo */
.home-logo {
  font-size: 40px;
  position: fixed;
  bottom: 20px;
  left: 50px;
  height: 50px;
  z-index: 1000;
  cursor: pointer;
  color: var(--primary-color);
}

.home-logo:hover{
  transform: scale(1.2);
  color: var(--secondary-color);
  transition: transform 0.2s color 0.2s;
}
/* Navigation Bar */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
  margin: 0;
  padding: 0;
}

nav {
  background: var(--primary-color);
  height: 80px;
  width: 100%;
  margin: 0;
  padding: 0;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav a.active,
nav a:hover {
  background: var(--secondary-color);
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: var(--secondary-color);
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/* Base */
body {
  font-family: var(--font-family);
  color: var(--text-color);
  background: var(--bg-color);
  line-height: 1.2;
  scroll-behavior: smooth;
}

/* Affects ALL SECTIONS */
section {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px;
}

/* All things Header */
header {
  display: flex; /* Enables flexbox layout */
  justify-content: space-between; /* Positions child elements to opposite ends */
  align-items: center; /* Vertically centers the elements */
  padding: 20px; /* Adds padding inside the header */
}

header h1 {
  color: var(--primary-color);
  font-size: 3em;
  margin-bottom: 50px;
  margin-left: 5%;
}

header .content {
  position: relative;
  z-index: 1;
}

.logo,
.subtitle-text {
  font-size: 1.5em;
  animation: fadeInUp 1s forwards;
}

.subtitle-text {
  padding: 0;
  margin: 10px;
}

.word1,
.word2,
.word3 {
  display: block; 
  margin-bottom: -8px; 
}

.descp-text {
  font-family: var(--font-family);
  color: var(--primary-color);
  align-items: center;
  justify-content: center;
  margin: 50px
}

#background-pic {
  display: flex;
  justify-content: flex-end; /* Aligns the image to the right */
}

header img {
  max-width: 500px; /* Adjust the size of the image */
  height: auto;
}
/* Text */
section h2 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  color: var(--primary-color);
  position: relative;
}

section h2::after {
  content: "";
  width: 50px;
  height: 4px;
  background: var(--primary-color);
  display: block;
  margin: 0.5em auto 0;
}

/* About Section */
#about {
  /*# targets ids with "about" */
  background-color: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#about img {
  /* targets all <img> elements where id = about */
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-content {
  max-width: 600px;
  margin: 20px;
  line-height: 1.5;
}

/* Education */
.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.education-item {
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 5px;
}

.education-item h3 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

.education-item p,
.education-item ul li {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.education-item ul {
  list-style-type: disc;
  list-style-position: inside;
  padding: 0;
  display: inline-block;
}

.education-item li {
  text-align: center;
  margin: 5px 0;
}

.skills-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.skill {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: var(--secondary-color);
  color: #fff;
  font-size: 1em;
  border-radius: 5px;
  border-radius: 5px;
  transition: background 0.3s;
}

/* Links */

.links-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.link-button {
  display: inline-block;
  margin: 10px;
  padding: 15px 30px;
  background: var(--primary-color);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s;
}

.link-button:hover {
  background: var(--secondary-color);
  transform: scale(1.05);
}

/* Project (carousel) */

#projects {
  position: relative;
}

.carousel-container {
  position: relative;
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}

.carousel-item a {
  text-decoration: none;
  color: var(--text-color);
}

.education-item a:hover h3 {
  color: var(--primary-color);
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--primary-color);
  border: none;
  color: #fff;
  font-size: 1.5em;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-btn.left {
  left: 10px;
}
.carousel-btn.right {
  right: 10px;
}
.carousel-btn:hover {
  background: var(--secondary-color);
}

/* Animations */
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -10px);
  }
  60% {
    transform: translate(-50%, -5px);
  }
}
